body {
    background-color:  ##C5E8F1;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    color: #320E8F;
}

h2 {
    color: #755465;
}

h4 {
	color: ##D6404C;
} 

p {
    color: #BF2E63;
}